{% extends "layout.html" %}

 {% block body %}
 

  <!-- Page Header -->

  <header class="masthead" style="background-image: url('{{ url_for('static',filename='img/about-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">

    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hello, I'm Rajat Agrawal. I am a programmer and a fervent learner. I'm currently pursuing bachelor in engineering in computer  science from Shri Ramdeobaba College of Engineering and Management Nagpur,India.
        I'm the vice president of ACM Student chapter of my insititute. I have a keen interest in programming. The first exposure of mine to programming came when i was 15 years old. Since then i have learned something new everyday.</p>
        <p>Here are some of the skills that i developed during my curriculum.I always look to develop something new and came up with creating this website. Thus, programming is the one thing that fascinates me and let me to explore new things.</p>
        <div class="container">
          <div class="row" >
              <div class="col-lg-8 col-md-10 mx-auto">
      
            <p style="text-align: center; font-size: 150%;"><u>SKILLS AND LANGUAGES</u></p>
          </div>
        </div>
        
          </div>
        <div class="container">
          <div class="row">C++</div></div>
              <div class="progress">
                 <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"><span style="font-size: 150%">80%</span></div>
              </div>
              <br>
        <div class="container">
          <div class="row">JAVA</div></div>
              <div class="progress">
                 <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"><span style="font-size: 150%">75%</span></div>
              </div>
        <br>
        <div class="container">
          <div class="row">Android</div></div>
              <div class="progress">
                 <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"><span style="font-size: 150%">80%</span></div>
              </div>

        <br>
        <div class="container">
          <div class="row">Python</div></div>
              <div class="progress">
                 <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"><span style="font-size: 150%">85%</span></div>
              </div>

        <br>
        <div class="container">
          <div class="row">C</div></div>
              <div class="progress">
                 <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"><span style="font-size: 150%">75%</span></div>
              </div>
        <br>
      <div class="container" style=" background-color: lightgreen;">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
            <h5 class="post-title">
              It is possible to fly without motors, but not without knowledge and skill.
            </h5>
          <p class="post-meta">By
            Wilbur Wright</p>
        </div>
      </div>
    </div>
  </div>
  
        
        
        
        
      </div>

    </div>

  </div>

{% endblock %}